# --------------------------------------------------------------------------------------
# DBLDB.deteque.com:/etc/knot/knot.conf
# last updated 2019-06-04
# --------------------------------------------------------------------------------------

server:
  listen: [ 0.0.0.0@53, ::@53 ]
  user: knot:knot
  pidfile: /run/knot/knot.pid
  max-tcp-clients: 500
  identity:
  version:
  nsid:

mod-stats:
  - id: default
    request-protocol: on
    server-operation: on
    request-bytes: off
    response-bytes: off
    edns-presence: on
    flag-presence: off
    response-code: on
    reply-nodata: on
    query-type: on
    query-size: on
    reply-size: on

log:

  - target: stdout
    any: info

key:

  - id: dbldb-iad.
    algorithm: hmac-sha256
    secret: oSkJMDFKmekFURbAnt8Hq32psX3YcND3o/iIrATAeNQ=

  - id: dnsdb-ams.
    algorithm: hmac-sha256
    secret: oaAnnvFbDzW+8QX07PBJCDrMY0LhMnQ8KmSMBQHc55A=

  - id: rpz01-iad.
    algorithm: hmac-sha256
    secret: aOPi62R2Qq74Jjzzko1PfwsjdqU7m1v0P2rNQQ6fffA=

  - id: rpz02-iad.
    algorithm: hmac-sha256
    secret: 4YoBohmd6Rylp86B0Zqi11V9FzYURkWxYFHBRa2Xuhk=

  - id: rpz03-iad.
    algorithm: hmac-sha256
    secret: gDubisGGRPdU+m2UIUpLuOUHC8GnBSkjQSrxDxGuEO4=

  - id: rpz04-ams.
    algorithm: hmac-sha256
    secret: nO6ik4bmfAkHUsG7j+zGEbzUhPJUVK6h8p3uyoeE31U=

  - id: rpz05-ams.
    algorithm: hmac-sha256
    secret: cvDSaJFR88RBSPj1/bcu9+y8XJ2iDzs9PIvFb+5DZ84=

  - id: rpz06-ams.
    algorithm: hmac-sha256
    secret: UwqDRgK8xQBjp2uh+1njG0/dqgQZlYNfod/PYTP1qic=

  - id: ns01-iad.
    algorithm: hmac-sha256
    secret: Ihq01rd/xcv1xab9hKD3a9EGANUYegXUrxR0U9UL26w=

  - id: ns02-iad.
    algorithm: hmac-sha256
    secret: 2EjngDO2xf4K5C/AD9oOP6GPNsXBUbFfuag/BusiZjs=

  - id: ns03-iad.
    algorithm: hmac-sha256
    secret: YYbvUN0LkYJ6ej5gGIoNP5YDl/SxLzTl4vgs6xYuVCg=

  - id: ns04-iad.
    algorithm: hmac-sha256
    secret: DWQJF6o5r2uTLEbXi9tP77S1sC89Ty6hLstfXSQvffE=

  - id: ns05-iad.
    algorithm: hmac-sha256
    secret: pDIFjpBVczC/66SY7CTRoBeWJhGhtzgaR4RuJjObRVQ=

  - id: ns06-iad.
    algorithm: hmac-sha256
    secret: 2Lc0nNwT0edYfQKE75bf8BTt8CdUxtlczPjuWHeuFwE=

  - id: ns07-iad.
    algorithm: hmac-sha256
    secret: ozoFEz14VlJy2ahM9dPUJ1CxJHl8o/L2XA1AHEEDkmE=

  - id: ns08-iad.
    algorithm: hmac-sha256
    secret: ycLblYCFoEjCQTBH2bEjrIuiKFsssnw4IB8hK4arsv4=

  - id: ns09-iad.
    algorithm: hmac-sha256
    secret: 4C+IPKgpn3doKS1n4FGcFZGS3NhASGi51ScI8yf+7NI=

  - id: ns01-ams.
    algorithm: hmac-sha256
    secret: qPKNQmPND/miNC7Y7rUWEK6vkrbumrexFpaVKP54OGA=

  - id: ns02-ams.
    algorithm: hmac-sha256
    secret: dOGfIqxQAi0WNGzGNDw/FN6FLW9R+sGBEfE7099cSMk=

  - id: ns03-ams.
    algorithm: hmac-sha256
    secret: nKBsS7fXnl/JRI/36Z6vcD837lQ02YyBFHQeaTfO/3w=

  - id: ns04-ams.
    algorithm: hmac-sha256
    secret: yXWdpy5dabnSO0xpiTxYGQfmTV7dcboQ9+shiU+yzKw=

  - id: spamhaus-us.
    algorithm: hmac-sha512
    secret: w0XYjoGbnAQMquR7i8Zzfwlj6O8DuF0E5Cl7IIT4AthSJj3NoghyuLJQ6RI6K5QCUC2AFmxQGYK5tO0po51Osg==

  - id: spamhaus-eu.
    algorithm: hmac-sha512
    secret: eNmAuKu/xjxjW9PjoUrcQuw2VqYFB4qN0O3Bv4muQD3E04akMsZklQffnuZ14kesGYrPM6ZqK9GK5JU1A8UMTQ==

  - id: ns-dev.
    algorithm: hmac-sha256
    secret: BAo0A1Q8S+Aal6omDAwKeUFqf7NYdpp/tlZ5tBb1C5s=

  - id: dnsdb-dev.
    algorithm: hmac-sha256
    secret: U/4zW9/DCG4+5FF6NA1L6z6Fyh8GQGQeP5Dv9FpusN8=

remote:

  - id: dbldb-iad
    address: 2606:700:a:202::c7a8:5a3c

  - id: ns-dev
    address: 2606:700:0:112::c7a8:5ab3
    key: ns-dev.

  - id: dnsdb-dev
    address: 2606:700:a:202::c7a8:5a38
    key: dnsdb-dev.

acl:

  - id: rpz-distribution-servers
    address: 2606:700:a:202::c7a8:5a33
    address: 2606:700:a:202::c7a8:5a34
    address: 2606:700:a:202::c7a8:5a35
    address: 172.16.3.31
    address: 172.16.3.32
    address: 172.16.3.33
    address: 2606:700:a:202::c7a8:5a38
    key: [ rpz01-iad., rpz02-iad., rpz03-iad., rpz04-ams., rpz05-ams., rpz06-ams., dnsdb-dev. ]
    action: transfer

  - id: aws-distribution-servers
    address: 2a05:d014:1bf:db01:c11:ab37:1f20:3358
    address: 2600:1f18:215e:b701:8624:5523:94aa:f163
    key: [ spamhaus-eu., spamhaus-us. ]
    action: transfer

  - id: ams-recursives
    address: 172.16.3.10
    address: 172.16.3.11
    address: 172.16.3.12
    address: 172.16.3.13
    key: [ ns01-ams., ns02-ams., ns03-ams., ns04-ams. ]
    action: transfer

  - id: iad-recursives
    address: 2606:700:0:112::c7a8:5aaa
    address: 2606:700:0:112::c7a8:5aab
    address: 2606:700:0:112::c7a8:5aac
    address: 2606:700:0:112::c7a8:5aad
    address: 2606:700:0:112::c7a8:5aae
    address: 2606:700:0:112::c7a8:5aaf
    address: 2606:700:0:112::c7a8:5ab0
    address: 2606:700:0:112::c7a8:5ab1
    address: 2606:700:0:112::c7a8:5ab2
    key: [ ns01-iad., ns02-iad., ns03-iad., ns04-iad., ns05-iad., ns06-iad., ns07-iad., ns08-iad., ns09-iad. ]
    action: transfer

  - id: deny_all
    address: 0.0.0.0/0
    address: ::/0
    deny: on

template:

  - id: default
    storage: /etc/namedb/zonefiles/
    timer-db: /var/lib/knot/timers/
    journal-db: /var/lib/knot/journal/
    journal-content: changes
    journal-db-mode: robust
    zonefile-load: difference
    semantic-checks: off
    disable-any: on
    file: /etc/namedb/zonefiles/%s
    acl: [ rpz-distribution-servers, ams-recursives, iad-recursives ]
    notify: [ rpz01-iad, rpz02-iad, rpz03-iad ]

  - id: recursives
    file: /etc/namedb/zonefiles/%s
    journal-content: changes
    zonefile-load: difference
    acl: [ rpz-distribution-servers, ams-recursives, iad-recursives ]
    notify: rpz01-iad
    notify: rpz02-iad
    notify: rpz03-iad
    notify: ns01-iad
    notify: ns02-iad
    notify: ns03-iad
    notify: ns04-iad
    notify: ns05-iad
    notify: ns06-iad
    notify: ns07-iad
    notify: ns08-iad
    notify: ns09-iad

  - id: recursives-and-free
    file: /etc/namedb/zonefiles/%s
    journal-content: changes
    zonefile-load: difference
    acl: [ rpz-distribution-servers, ams-recursives, iad-recursives, aws-distribution-servers ]
    notify: rpz01-iad
    notify: rpz02-iad
    notify: rpz03-iad
    notify: ns01-iad
    notify: ns02-iad
    notify: ns03-iad
    notify: ns04-iad
    notify: ns05-iad
    notify: ns06-iad
    notify: ns07-iad
    notify: ns08-iad
    notify: ns09-iad
    notify: us-spamhaus
    notify: eu-spamhaus

  - id: all-servers
    file: /etc/namedb/zonefiles/%s
    journal-content: changes
    zonefile-load: difference
    acl: [ rpz-distribution-servers, ams-recursives, iad-recursives ]
    notify: rpz01-iad
    notify: rpz02-iad
    notify: rpz03-iad
    notify: rpz04-ams
    notify: rpz05-ams
    notify: rpz06-ams
    notify: ns01-iad
    notify: ns02-iad
    notify: ns03-iad
    notify: ns04-iad
    notify: ns05-iad
    notify: ns06-iad
    notify: ns07-iad
    notify: ns08-iad
    notify: ns09-iad
    notify: ns01-ams
    notify: ns02-ams
    notify: ns03-ams
    notify: ns04-ams

zone:

  - domain: adware.host.dtq
    max-journal-usage: 1G

  - domain: badrep.edit.host.dtq
    max-journal-usage: 1G 

  - domain: badrep.hacked.host.dtq
    max-journal-usage: 5G

  - domain: botnetcc.edit.host.dtq
    max-journal-usage: 5G

  - domain: botnetcc.hacked.host.dtq
    max-journal-usage: 25M

  - domain: botnetcc.hacked.ip.dtq
    max-journal-usage: 10M
